@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

body {
  padding: 0;
  margin: 0;
}

.toolbar {
  display: flex;
  background: #3c3a39;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: white;
  flex-grow: 10;
  padding-left: 5%;
  text-decoration: none;
}

.desktop_menu {
  display: none;
}

.menu {
  flex-grow: 1;
}

.menu_item {
  width: 20px;
  height: 2px;
  background: white;
  margin: 5px;
  border-radius: 15px;
}

.headline {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  background-image: url("images/Illustration.svg");
  background-repeat: no-repeat;
  background-position: 100% bottom;
  height: 88vh;
  justify-content: center;
  padding: 24px;
}

.hey {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 0;
}

.iam {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 15px;
  color: #fff5e1;
  margin: 15px 0;
}

.about {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.social_media {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 0;
}

.fa {
  font-size: 30px;
  height: 50px;
  width: 50px;
  margin: 3px;
  color: #dbd8d7;
}

.recentworkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recentWork {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.recentWorkTitle {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  margin-top: 24px;
}

.recentWorkDesc {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.line {
  background: #7c6758;
  height: 2px;
  margin-bottom: 120px;
}

.usedTechs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tech {
  margin: 0 12px;
  margin-left: 0;
  line-height: 20px;
  padding: 10px;
  border: 1px solid #8993a4;
}

.mybtn {
  background-color: #ff6b00;
  border: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: white;
  width: 35%;
  height: 48px;
  margin-top: 14px;
  margin-bottom: 20px;
}

.mybtn:hover {
  background-color: #fff5e1;
  border: 2px solid #ff6b00;
  color: #ff6b00;
}

.mybtn:active {
  background-color: #e05304;
  border: none;
  color: #f4f1f0;
}

.works {
  height: 3800px;
  display: grid;
  grid-template-rows: 2fr repeat(6, 1fr);
  grid-template-columns: 100%;
  margin: 22px;
  margin-bottom: 120px;
}

.wc {
  color: white;
}

.twc {
  background: rgba(255, 255, 255, 0.24);
  border: none;
}

.spwc {
  width: 100%;
  margin-bottom: initial;
}

.workCardContent {
  margin: 16px;
}

.workCard {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: baseline;
  background: url(images/workCardbg.png);
  height: 446px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 0;
}

.aboutme {
  height: 2300px;
  background: black;
  background-image: url(images/illustration-about-me-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: 99.99%;
  background-position-y: 20%;
  padding: 24px;
}

.aboutmeTitle {
  font-family: "Crete Round", sans-serif;
  color: #ff6b00;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  margin-top: 120px;
  margin-bottom: 24px;
}

.getResume {
  width: 50%;
  padding: 0 12px;
  margin-top: 24px;
}

.ab {
  background-color: white;
  margin-top: 250px;
}

.bullets {
  background: #ff6b00;
  height: 18px;
  width: 18px;
  margin: 12px;
}

.circle {
  background: #ff6b00;
  height: 18px;
  width: 18px;
  margin: 12px;
  border-radius: 50px;
}

.skillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.skillCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skillCategory h1 {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.language {
  transform: rotate(45deg);
}

.skillContainer > * {
  color: white;
}

.skill {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.subSkill {
  color: white;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  margin: 16px;
}

.contactMe {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 844px;
  justify-content: center;
}

.contactDesc {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #172b4d;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form ul {
  list-style: none;
  padding: 0%;
}

.mytextArea {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  width: calc(100% - 24px);
  padding: 14px;
  margin: 12px 0;
}

.desc {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  background: #fbf8f7;
  border: none;
  width: calc(100% - 24px);
  padding: 12px;
  margin: 12px 0;
}

.desc::placeholder {
  color: #3c3a39;
}

.getInTouchBtn {
  align-self: center;
  padding: 12px;
}

.myfooter {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dfe1e6;
  align-items: center;
  padding-top: 25px;
}

.myfooter .social_media > * {
  color: #505f79;
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-top: 0;
}

.footerLine {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin-bottom: 8px;
}

@media (min-width: 1000px) {
  .toolbar {
    padding: 0% 10%;
    height: 72px;
  }

  .name {
    font-size: 21px;
    line-height: 30px;
    padding: 0%;
  }

  .menu {
    display: none;
  }

  .desktop_menu {
    display: flex;
    flex-grow: 3;
    justify-content: space-evenly;
    align-items: center;
  }

  .d_menu_item {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 530;
    font-size: 15px;
    line-height: 20px;
    color: white;
    text-decoration: none;
  }

  .toolicon {
    height: 18px;
    width: 18px;
    margin: 3px;
    color: white;
  }

  .intro {
    align-self: center;
  }

  .headline {
    display: grid;
    grid-template-columns: 10% 40% 50%;
    background-image: url("images/Illustration-desktop.svg");
    background-size: auto;
  }

  .hey {
    font-size: 72px;
    line-height: 81px;
  }

  .iam {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .about {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
  }

  .social_media_desktop {
    order: -1;
    flex-direction: column;
    align-self: center;
  }

  .works {
    margin: 0% 10%;
    height: 2205px;
    grid-template-rows: 1fr 2fr;
  }

  .recentWorkSectionTitle {
    display: grid;
    margin: 135px 0;
    grid-column: span 2;
    grid-template-columns: 6fr 12fr;
    align-items: center;
  }

  .recentworkContainer {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .recentWorkPic {
    grid-column: 1;
    grid-row: span 6;
    width: 100%;
    height: auto;
    padding-bottom: 24px;
  }

  .recentWork {
    margin: 0;
  }

  .line {
    margin: 0;
  }

  .recentWorkTitle {
    font-size: 40px;
    line-height: 52px;
    margin: 0%;
    padding-left: 24px;
  }

  .recentWorkDesc {
    grid-column: 2;
    grid-row: span 2;
    padding-left: 24px;
    font-size: 22px;
    line-height: 28px;
  }

  .usedTechs {
    margin: auto;
    margin-left: 0%;
    padding-left: 24px;
  }

  .recentworkContainer .mybtn {
    margin-left: 24px;
  }

  .workCards {
    display: grid;
    padding-bottom: 130px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .workCard {
    margin-right: 24px;
  }

  .workCard:hover {
    background: url("images/workCardHover.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
  }

  .spwc {
    display: none;
  }

  .workCard:hover .spwc {
    display: block;
  }

  .workCard:hover .workCardContent {
    display: none;
  }

  .aboutme {
    padding: 0% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 2fr;
    height: 1295px;
    background-image: url("images/illustration-about\ me\ Desktop.svg");
  }

  .aboutmeWrapper {
    grid-column: span 3;
  }

  .aboutmeDesc {
    width: 50%;
    padding: 0%;
    font-size: 24px;
    line-height: 36px;
  }

  .getResume {
    width: 171px;
  }

  .ab {
    grid-column: span 3;
    margin-top: 130px;
    margin-bottom: 110px;
  }

  .skillContainer {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
  }

  .skillCategory {
    align-self: baseline;
  }

  .skillTitle {
    order: -1;
  }

  .skill {
    display: block;
    align-self: baseline;
  }

  .contactMe {
    height: 590px;
    margin: 0% 10%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 24px;
  }

  .contactDesc {
    font-size: 40px;
    line-height: 52px;
    text-align: left;
  }

  .getInTouchBtn {
    align-self: auto;
    width: 162px;
  }

  .myfooter {
    padding: 28px 0;
  }

  .footerLine {
    display: none;
  }

  .myfooter .social_media {
    list-style: none;
  }

  .myfooter .social_media li a * {
    color: #505f79;
  }
}
